.text-input
{
    -fx-text-fill : #fff;
}
.radio-color
{
    -fx-mark-highlight-color : #9643A9;
    -fx-mark-color : #CE201C;
}

#windowPanel
{
    -fx-background-color: #5e35b1;
}

#centerWindow
{
    -fx-background-image: url("Images/WoodenStyle/background.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.button
{
    -fx-background-color: #7b5e57;
}

#darkSquare
{
    -fx-background-image: url("Images/WoodenStyle/Board/darkWood.png");
    -fx-opacity:90%;
}
#lightSquare
{
    -fx-background-image: url("Images/WoodenStyle/Board/lightWood.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-opacity:90%;
}

#movementHighlight
{
    -fx-background-color:rgb(0,255,0);
    -fx-opacity:75%;
}

#captureHighlight
{
    -fx-background-color:rgb(255,0,0);
    -fx-opacity:75%;
}

.gridPane
{
    -fx-hgap: 0;
    -fx-vgap: 0;
    -fx-pref-height: 480;
    -fx-pref-width: 480;
     -fx-translate-x: 60;
    -fx-translate-y: 60;
}